# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [3]:
from pandas import Series

In [4]:

# todo:

lista = [1,2,3,4,5]

serie_uno = Series(lista)

In [ ]:
dic_paises = { 
    "Finlandia": "Helsink", 
    "Corea del Sur" : "Seul",
    "Argentina": "Buenos Aires", 
    "Suiza": "Berna", 
    "Tailandia": "Bangkok" 
}

serie_dos = Series(dic_paises)
serie_dos

Finlandia             Helsink
Corea del Sur            Seul
Argentina        Buenos Aires
Suiza                   Berna
Tailandia             Bangkok
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [ ]:

# todo:

dic_tareas = { 
    "Lunes": "Lavar la ropa",
    "Martes": "Cocinar", 
    "Miercoles": "Practicar python", 
    "Jueves": "Hacer ejercicio", 
    "Viernes": "Limpiar el alquiler", 
    "Sábado": "Leer un libro", 
    "Domingo": "Ver una serie"
}

serie_tres = Series(dic_tareas)
serie_tres

Lunes              Lavar la ropa
Martes                   Cocinar
Miercoles       Practicar python
Jueves           Hacer ejercicio
Viernes      Limpiar el alquiler
Sábado             Leer un libro
Domingo            Ver una serie
dtype: object

In [7]:
print(serie_tres["Sábado"])
print(serie_tres["Martes"])
print(serie_tres["Domingo"])

Leer un libro
Cocinar
Ver una serie

In [8]:
serie_tres["Martes"] = "Limpiar la pieza"
serie_tres["Jueves"] = "Llamar a mi abuelo"
serie_tres["Sábado"] = "Dormir"

print(serie_tres["Martes"])
print(serie_tres["Jueves"])
print(serie_tres["Sábado"])

Limpiar la pieza
Llamar a mi abuelo
Dormir

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [10]:
# todo:

serie_cuatro = Series([2,4,6,8,10])
serie_cinco = Series([1,3,5,7,9])


# * Operaciones

print(serie_cuatro + 10)
print(serie_cinco * 2)

0    12
1    14
2    16
3    18
4    20
dtype: int64
0     2
1     6
2    10
3    14
4    18
dtype: int64

In [11]:
print(serie_uno ** 2)
print(serie_uno ** 4)
print(serie_uno ** 6)

0     1
1     4
2     9
3    16
4    25
dtype: int64
0      1
1     16
2     81
3    256
4    625
dtype: int64
0        1
1       64
2      729
3     4096
4    15625
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [16]:

# todo:

dic_edades = {
    "Tatiana": 19,
    "Ailin": 27,
    "Selene": 19,
    "Maribel": 16,
    "Soledad":20,
    "Maia": 19,
    "Salomé": 17,
    "Mariano": 22,
    "Luciano": 10,
    "Paulina": 6,
    "Mia": 12 
}

serie_seis = Series(dic_edades)
serie_seis

Tatiana    19
Ailin      27
Selene     19
Maribel    16
Soledad    20
Maia       19
Salomé     17
Mariano    22
Luciano    10
Paulina     6
Mia        12
dtype: int64

In [18]:
personas_mayores_18 = serie_seis[serie_seis > 18]
personas_mayores_18

Tatiana    19
Ailin      27
Selene     19
Soledad    20
Maia       19
Mariano    22
dtype: int64

In [21]:
personas_etiqueta = serie_seis.where(serie_seis >= 18, "Menor de edad")
personas_etiqueta

Tatiana               19
Ailin                 27
Selene                19
Maribel    Menor de edad
Soledad               20
Maia                  19
Salomé     Menor de edad
Mariano               22
Luciano    Menor de edad
Paulina    Menor de edad
Mia        Menor de edad
dtype: object

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [26]:

# todo:

dic_notas ={
    "María": 8,
    "Juan": 8,
    "Pedro": 9,
    "Pablo":5,
    "Karen": 6,
    "Laia": 8,
    "Miguel": 7,
    "Sofia": 9,
    "Diego": 8,
    "Lautaro":10 
}

serie_siete = Series(dic_notas)
serie_siete

María       8
Juan        8
Pedro       9
Pablo       5
Karen       6
Laia        8
Miguel      7
Sofia       9
Diego       8
Lautaro    10
dtype: int64

In [28]:
media = serie_siete.mean()
mediana = serie_siete.median()
std = serie_siete.std()
maximo = serie_siete.max()


print(f"La media es {media}")
print(f"La mediana es {mediana}")
print(f"La desviación estandard es {std}")
print(f"El valor máximo es {maximo}")

La media es 7.8
La mediana es 8.0
La desviación estandard es 1.4757295747452437
El valor máximo es 10

In [ ]:
aprobados = serie_siete[serie_siete >= 6]
aprobados

María       8
Juan        8
Pedro       9
Karen       6
Laia        8
Miguel      7
Sofia       9
Diego       8
Lautaro    10
dtype: int64

In [32]:
cant_aprobados = (serie_siete >=6).sum()
print(f"cantidad de estudiantes aprobados: {cant_aprobados}")

cantidad de estudiantes aprobados: 9

In [35]:

# * Ascendente

notas_ascendente = serie_siete.sort_values()
notas_ascendente

Pablo       5
Karen       6
Miguel      7
María       8
Laia        8
Juan        8
Diego       8
Pedro       9
Sofia       9
Lautaro    10
dtype: int64

In [36]:
# * Descendente

notas_descendente = serie_siete.sort_values(ascending = False)
notas_descendente

Lautaro    10
Pedro       9
Sofia       9
María       8
Juan        8
Laia        8
Diego       8
Miguel      7
Karen       6
Pablo       5
dtype: int64